<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number
            from 1 to 12 and will create that number of columns.  --}}
            <div class="grid grid-4col">
                <div class="ability flexrow flex-group-center">
                  <label for="data.stats.derived.def.value" class="resource-label">DEF</label>
                  <span class="ability-mod">{{numberFormat data.stats.derived.def.value decimals=0 sign=true}}</span>
                </div>
                <div class="ability flexrow flex-group-center">
                  <label for="data.stats.derived.arm.value" class="resource-label">ARM</label>
                  <span class="ability-mod">{{numberFormat data.stats.derived.arm.value decimals=0 sign=true}}</span>
                </div>
                <div class="ability flexrow flex-group-center">
                  <label for="data.stats.derived.init.value" class="resource-label">INIT</label>
                  <span class="ability-mod">{{numberFormat data.stats.derived.init.value decimals=0 sign=true}}</span>
                </div>
                <div class="ability flexrow flex-group-center">
                  <label for="data.stats.derived.cmd.value" class="resource-label">CMD</label>
                  <span class="ability-mod">{{numberFormat data.stats.derived.cmd.value decimals=0 sign=true}}</span>
                </div>              
            </div>
          
          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="skills">Skills/Abilities</a>
        <a class="item" data-tab="stats">Stats</a>
        <a class="item" data-tab="weapons">Combat</a>
        <a class="item" data-tab="spells">Spells</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
          <ol class="items-list">
            <li class="item flexrow item-header">
              <div class="item-image"></div>
              <div class="item-name">Race</div>
            </li>
            {{#each actor.races as |race id|}}
            <li class="item flexrow" data-item-id="{{race._id}}">
                <div class="item-image"><img src="{{race.img}}" title="{{race.name}}" width="24" height="24"/></div>
                <h4 class="item-name"><a class="item-control item-edit" title="Edit Item">{{race.name}}</a></h4>
            </li>
            {{/each}}
          </ol>
          <ol class="items-list">
            <li class="item flexrow item-header">
              <div class="item-image"></div>
              <div class="item-name">Archetype</div>
            </li>
            {{#each actor.archetypes as |archetype id|}}
            <li class="item flexrow" data-item-id="{{archetype._id}}">
                <div class="item-image"><img src="{{archetype.img}}" title="{{archetype.name}}" width="24" height="24"/></div>
                <h4 class="item-name"><a class="item-control item-edit" title="Edit Item">{{archetype.name}}</a></h4>
            </li>
            {{/each}}
          </ol>
          <ol class="items-list">
            <li class="item flexrow item-header">
              <div class="item-image"></div>
              <div class="item-name">Careers</div>
            </li>
            {{#each actor.careers as |career id|}}
            <li class="item flexrow" data-item-id="{{career._id}}">
                <div class="item-image"><img src="{{career.img}}" title="{{career.name}}" width="24" height="24"/></div>
                <h4 class="item-name"><a class="item-control item-edit" title="Edit Item">{{career.name}}</a></h4>
            </li>
            {{/each}}
          </ol>
            <h3>Biography & Notes</h3>
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Name</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
                  </div>
                </li>
            {{#each actor.gear as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="item-name"><a class="item-control item-edit" title="Edit Item">{{item.name}}</a></h4>
                    <div class="item-controls">
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>

        {{!-- Skills and Abilities Tab --}}
        <div class="tab items" data-group="primary" data-tab="skills">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Skills</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
                  </div>
                </li>
            {{#each actor.skills as |skill id|}}
                <li class="item flexrow" data-item-id="{{skill._id}}">
                    <div class="item-image"><img src="{{skill.img}}" title="{{skill.name}}" width="24" height="24"/></div>
                    <h4 class="item-name"><a class="item-control item-edit" title="Edit Item">{{skill.name}}</a></h4>
                    <h4 class="resource-label">{{skill.parent}}</h4>
                    <h4 class="resource-label">{{skill.value}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
            <ol class="items-list">
              <li class="item flexrow item-header">
                <div class="item-image"></div>
                <div class="item-name">Abilities</div>
                <div class="item-controls">
                  <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
                </div>
              </li>
          {{#each actor.abilities as |ability id|}}
              <li class="item flexrow" data-item-id="{{ability._id}}">
                  <div class="item-image"><img src="{{ability.img}}" title="{{ability.name}}" width="24" height="24"/></div>
                  <h4 class="item-name"><a class="item-control item-edit" title="Edit Item">{{ability.name}}</a></h4>
                  <div class="item-controls">
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
              </li>
          {{/each}}
          </ol>
        </div>

        {{!-- Spells Tab --}}
        <div class="tab items" data-group="primary" data-tab="spells">
            <div class="flexrow">
              <div>
                <label class="item-name">Tradition</label>
                <select class="selectMagic" name="data.magic.tradition.label" data-type="String">
                  {{#select data.magic.tradition.label}}
                    {{#each data.magic.traditions as |tradition key|}}
                    <option value="{{key}}">{{tradition.label}}</option>
                    {{/each}}
                  {{/select}}
                </select>
              </div>
              <div class="resource flexrow">
                <label class="resource-label">{{data.magic.tradition.resource.label}}</label>
                <input type="number" name="data.magic.tradition.resource.value" value="{{data.magic.tradition.resource.value}}" data-dtype="Number"/>
                <p>/</p>
                <p>{{data.magic.tradition.resource.max}}</p>
              </div>
              <!-- <div>
                <p><a class="item-control reset-magic" title="Pass Turn">New Turn</a></p>
              </div> -->
            </div>
            
            <ol class="items-list">
                <li class="item flexrow item-header" id="spell-table-header" style="height: 40px;">
                  <div class="item-image"></div>
                  <div class="item-name">Name</div>
                  <table class="item-table" style="width: max-content;">
                    <tr>
                      <th class="resource-label">
                          COST
                      </th>
                      <th class="resource-label">
                          RNG
                      </th>
                      <th class="resource-label">
                          AOE
                      </th>
                      <th class="resource-label">
                          POW
                      </th>
                      <th class="resource-label">
                          UP
                      </th>
                      <th class="resource-label">
                          OFF
                      </th>
                  </tr>
                  </table>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
                  </div>
                </li>
            {{#each actor.spells as |spell id|}}
                <li class="item flexrow" data-item-id="{{spell._id}}" style="height: 40px">
                    <div class="item-image"><img src="{{spell.img}}" title="{{spell.name}}" width="40" height="40"/></div>
                    <h4 class="item-name"><a class="item-control item-edit" title="Edit Item">{{spell.name}}</a></h4>
                    <div>
                      <table class="spell-table" style="height:max-content; margin:0">
                        <tr>
                            <td>
                              {{data.cost.value}}
                            </td>
                            <td>
                              {{data.rng.value}}
                            </td>
                            <td>
                              {{data.aoe.value}}
                            </td>
                            <td>
                              {{data.pow.value}}
                            </td>
                            <td>
                              {{data.up.value}}
                            </td>
                            <td>
                              {{data.off.value}}
                            </td>
                        </tr>
                    </table>
                    </div>
                    
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>

        {{!-- Weapons Tab --}}
        <div class="tab items" data-group="primary" data-tab="weapons">
            <ol class="items-list">
                <li class="item flexrow item-header" style="height: 40px;">
                  <div class="item-image"></div>
                  <div class="item-name">Ranged Weapons</div>
                  <table class="item-table">
                    <tr>
                      <th class="resource-label">
                          RNG
                      </th>
                      <th class="resource-label">
                          RAT
                      </th>
                      <th class="resource-label">
                          AOE
                      </th>
                      <th class="resource-label">
                          POW
                      </th>
                  </tr>
                  </table>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
                  </div>
                </li>
            {{#each actor.rangedWeapons as |gun id|}}
                <li class="item flexrow" data-item-id="{{gun._id}}" style="height: 40px;">
                    <div class="item-image"><img src="{{gun.img}}" title="{{gun.name}}" width="24" height="24"/></div>
                    <h4 class="item-name"><a class="item-control item-edit" title="Edit Item">{{gun.name}}</a></h4>
                    <div>
                      <table class="spell-table" style="height:max-content; margin:0">
                        <tr>
                            <td>
                              {{gun.data.rng.value}}
                            </td>
                            <td>
                              {{gun.data.rat.value}}
                            </td>
                            <td>
                              {{gun.data.aoe.value}}
                            </td>
                            <td>
                              {{gun.data.pow.value}}
                            </td>
                        </tr>
                      </table>                      
                    </div>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
            <ol class="items-list">
              <li class="item flexrow item-header" style="height: 40px;">
                <div class="item-image"></div>
                <div class="item-name">Melee Weapons</div>
                <table class="item-table">
                  <tr>
                    <th class="resource-label">
                        RNG
                    </th>
                    <th class="resource-label">
                        MAT
                    </th>
                    <th class="resource-label">
                        POW
                    </th>
                    <th class="resource-label">
                        P+S
                    </th>
                </tr>
                </table>
                <div class="item-controls">
                  <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
                </div>
              </li>
              {{#each actor.meleeWeapons as |sword id|}}
              <li class="item flexrow" data-item-id="{{sword._id}}" style="height: 40px;">
                  <div class="item-image"><img src="{{sword.img}}" title="{{sword.name}}" width="24" height="24"/></div>
                  <h4 class="item-name"><a class="item-control item-edit" title="Edit Item">{{sword.name}}</a></h4>
                  <div>
                    <table class="spell-table" style="height:max-content; margin:0">
                      <tr>
                          <td>
                            {{sword.data.rng.value}}
                          </td>
                          <td>
                            {{sword.data.mat.value}}
                          </td>
                          <td>
                            {{sword.data.pow.value}}
                          </td>
                          <td>
                            {{sword.data.ps.value}}
                          </td>
                      </tr>
                    </table>  
                  </div>
                  <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
              </li>
              {{/each}}
            </ol>
            <ol class="items-list">
              <li class="item flexrow item-header" style="height: 40px;">
                <div class="item-image"></div>
                <div class="item-name">Armor</div>
                <table class="item-table" style="width: max-content;">
                  <tr>
                    <th class="resource-label">
                      SPD
                    </th>
                    <th class="resource-label">
                      DEF
                    </th>
                    <th class="resource-label">
                      ARM
                    </th>
                    <th class="resource-label">
                      Boxes
                    </th>
                    <th class="resource-label">
                      Equip
                    </th>
                </tr>
                </table>
                <div class="item-controls">
                  <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
                </div>
              </li>
          {{#each actor.armors as |armor id|}}
              <li class="item flexrow" data-item-id="{{armor._id}}" style="height: 40px;">
                  <div class="item-image"><img src="{{armor.img}}" title="{{armor.name}}" width="24" height="24"/></div>
                  <h4 class="item-name"><a class="item-control item-edit" title="Edit Item">{{armor.name}}</a></h4>
                  <div>
                    <table class="spell-table" style="height:max-content; margin:0">
                      <tr>
                          <td>
                            {{data.spd.value}}
                          </td>
                          <td>
                            {{data.def.value}}
                          </td>
                          <td>
                            {{data.arm.value}}
                          </td>
                          <td>
                            {{data.boxes.max}}
                          </td>
                          <td>
                            {{data.equipped.value}}
                          </td>
                      </tr>
                  </table>
                  </div>
                  <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                  </div>
              </li>
          {{/each}}
          </ol>
        </div>

        {{!-- Stats Tab --}}
        <div class="tab ability flexrow" data-group="primary" data-tab="stats">
          <div class="flexcol" style="height: 50%;">
            <div class="flexrow">
              <span>Column</span>
              <span style="text-align: right;">Max</span>
            </div>
            <div class="health health1 flexrow">
              <span>1</span>
              <label for="health-{{actor._id}}-col1-0" class="zero-label"></label>
              {{#multiboxes data.health.column.one.value}}
              <input type="radio" id="health-{{actor._id}}-col1-0" name="data.health.column.one.value" value="0" checked="checked">
              <input type="radio" id="health-{{actor._id}}-col1-1" name="data.health.column.one.value" value="1">
              <label for="health-{{actor._id}}-col1-1"></label>
              <input type="radio" id="health-{{actor._id}}-col1-2" name="data.health.column.one.value" value="2">
              <label for="health-{{actor._id}}-col1-2"></label>
              <input type="radio" id="health-{{actor._id}}-col1-3" name="data.health.column.one.value" value="3">
              <label for="health-{{actor._id}}-col1-3"></label>
              <input type="radio" id="health-{{actor._id}}-col1-4" name="data.health.column.one.value" value="4">
              <label for="health-{{actor._id}}-col1-4"></label>
              <input type="radio" id="health-{{actor._id}}-col1-5" name="data.health.column.one.value" value="5">
              <label for="health-{{actor._id}}-col1-5"></label>
              <input type="radio" id="health-{{actor._id}}-col1-6" name="data.health.column.one.value" value="6">
              <label for="health-{{actor._id}}-col1-6"></label>
              <input type="radio" id="health-{{actor._id}}-col1-7" name="data.health.column.one.value" value="7">
              <label for="health-{{actor._id}}-col1-7"></label>
              <input type="radio" id="health-{{actor._id}}-col1-8" name="data.health.column.one.value" value="8">
              <label for="health-{{actor._id}}-col1-8"></label>
              <input type="radio" id="health-{{actor._id}}-col1-9" name="data.health.column.one.value" value="9">
              <label for="health-{{actor._id}}-col1-9"></label>
              {{/multiboxes}}
              <span>{{data.health.column.one.max}}</span>
            </div>
            <div class="health health1 flexrow">
              <span>2</span>
              <label for="health-{{actor._id}}-col2-0" class="zero-label"></label>
              {{#multiboxes data.health.column.two.value}}
              <input type="radio" id="health-{{actor._id}}-col2-0" name="data.health.column.two.value" value="0" checked="checked">
              <input type="radio" id="health-{{actor._id}}-col2-1" name="data.health.column.two.value" value="1">
              <label for="health-{{actor._id}}-col2-1"></label>
              <input type="radio" id="health-{{actor._id}}-col2-2" name="data.health.column.two.value" value="2">
              <label for="health-{{actor._id}}-col2-2"></label>
              <input type="radio" id="health-{{actor._id}}-col2-3" name="data.health.column.two.value" value="3">
              <label for="health-{{actor._id}}-col2-3"></label>
              <input type="radio" id="health-{{actor._id}}-col2-4" name="data.health.column.two.value" value="4">
              <label for="health-{{actor._id}}-col2-4"></label>
              <input type="radio" id="health-{{actor._id}}-col2-5" name="data.health.column.two.value" value="5">
              <label for="health-{{actor._id}}-col2-5"></label>
              <input type="radio" id="health-{{actor._id}}-col2-6" name="data.health.column.two.value" value="6">
              <label for="health-{{actor._id}}-col2-6"></label>
              <input type="radio" id="health-{{actor._id}}-col2-7" name="data.health.column.two.value" value="7">
              <label for="health-{{actor._id}}-col2-7"></label>
              <input type="radio" id="health-{{actor._id}}-col2-8" name="data.health.column.two.value" value="8">
              <label for="health-{{actor._id}}-col2-8"></label>
              <input type="radio" id="health-{{actor._id}}-col2-9" name="data.health.column.two.value" value="9">
              <label for="health-{{actor._id}}-col2-9"></label>
              {{/multiboxes}}
              <span>{{data.health.column.two.max}}</span>
            </div>
            <div class="health health2 flexrow">
              <span>3</span>
              <label for="health-{{actor._id}}-col3-0" class="zero-label"></label>
              {{#multiboxes data.health.column.three.value}}
              <input type="radio" id="health-{{actor._id}}-col3-0" name="data.health.column.three.value" value="0" checked="checked">
              <input type="radio" id="health-{{actor._id}}-col3-1" name="data.health.column.three.value" value="1">
              <label for="health-{{actor._id}}-col3-1"></label>
              <input type="radio" id="health-{{actor._id}}-col3-2" name="data.health.column.three.value" value="2">
              <label for="health-{{actor._id}}-col3-2"></label>
              <input type="radio" id="health-{{actor._id}}-col3-3" name="data.health.column.three.value" value="3">
              <label for="health-{{actor._id}}-col3-3"></label>
              <input type="radio" id="health-{{actor._id}}-col3-4" name="data.health.column.three.value" value="4">
              <label for="health-{{actor._id}}-col3-4"></label>
              <input type="radio" id="health-{{actor._id}}-col3-5" name="data.health.column.three.value" value="5">
              <label for="health-{{actor._id}}-col3-5"></label>
              <input type="radio" id="health-{{actor._id}}-col3-6" name="data.health.column.three.value" value="6">
              <label for="health-{{actor._id}}-col3-6"></label>
              <input type="radio" id="health-{{actor._id}}-col3-7" name="data.health.column.three.value" value="7">
              <label for="health-{{actor._id}}-col3-7"></label>
              <input type="radio" id="health-{{actor._id}}-col3-8" name="data.health.column.three.value" value="8">
              <label for="health-{{actor._id}}-col3-8"></label>
              <input type="radio" id="health-{{actor._id}}-col3-9" name="data.health.column.three.value" value="9">
              <label for="health-{{actor._id}}-col3-9"></label>
              {{/multiboxes}}
              <span>{{data.health.column.three.max}}</span>
            </div>
            <div class="health health2 flexrow">
              <span>4</span>
              <label for="health-{{actor._id}}-col4-0" class="zero-label"></label>
              {{#multiboxes data.health.column.four.value}}
              <input type="radio" id="health-{{actor._id}}-col4-0" name="data.health.column.four.value" value="0" checked="checked">
              <input type="radio" id="health-{{actor._id}}-col4-1" name="data.health.column.four.value" value="1">
              <label for="health-{{actor._id}}-col4-1"></label>
              <input type="radio" id="health-{{actor._id}}-col4-2" name="data.health.column.four.value" value="2">
              <label for="health-{{actor._id}}-col4-2"></label>
              <input type="radio" id="health-{{actor._id}}-col4-3" name="data.health.column.four.value" value="3">
              <label for="health-{{actor._id}}-col4-3"></label>
              <input type="radio" id="health-{{actor._id}}-col4-4" name="data.health.column.four.value" value="4">
              <label for="health-{{actor._id}}-col4-4"></label>
              <input type="radio" id="health-{{actor._id}}-col4-5" name="data.health.column.four.value" value="5">
              <label for="health-{{actor._id}}-col4-5"></label>
              <input type="radio" id="health-{{actor._id}}-col4-6" name="data.health.column.four.value" value="6">
              <label for="health-{{actor._id}}-col4-6"></label>
              <input type="radio" id="health-{{actor._id}}-col4-7" name="data.health.column.four.value" value="7">
              <label for="health-{{actor._id}}-col4-7"></label>
              <input type="radio" id="health-{{actor._id}}-col4-8" name="data.health.column.four.value" value="8">
              <label for="health-{{actor._id}}-col4-8"></label>
              <input type="radio" id="health-{{actor._id}}-col4-9" name="data.health.column.four.value" value="9">
              <label for="health-{{actor._id}}-col4-9"></label>
              {{/multiboxes}}
              <span>{{data.health.column.four.max}}</span>
            </div>
            <div class="health health3 flexrow">
              <span>5</span>
              <label for="health-{{actor._id}}-col5-0" class="zero-label"></label>
              {{#multiboxes data.health.column.five.value}}
              <input type="radio" id="health-{{actor._id}}-col5-0" name="data.health.column.five.value" value="0" checked="checked">
              <input type="radio" id="health-{{actor._id}}-col5-1" name="data.health.column.five.value" value="1">
              <label for="health-{{actor._id}}-col5-1"></label>
              <input type="radio" id="health-{{actor._id}}-col5-2" name="data.health.column.five.value" value="2">
              <label for="health-{{actor._id}}-col5-2"></label>
              <input type="radio" id="health-{{actor._id}}-col5-3" name="data.health.column.five.value" value="3">
              <label for="health-{{actor._id}}-col5-3"></label>
              <input type="radio" id="health-{{actor._id}}-col5-4" name="data.health.column.five.value" value="4">
              <label for="health-{{actor._id}}-col5-4"></label>
              <input type="radio" id="health-{{actor._id}}-col5-5" name="data.health.column.five.value" value="5">
              <label for="health-{{actor._id}}-col5-5"></label>
              <input type="radio" id="health-{{actor._id}}-col5-6" name="data.health.column.five.value" value="6">
              <label for="health-{{actor._id}}-col5-6"></label>
              <input type="radio" id="health-{{actor._id}}-col5-7" name="data.health.column.five.value" value="7">
              <label for="health-{{actor._id}}-col5-7"></label>
              <input type="radio" id="health-{{actor._id}}-col5-8" name="data.health.column.five.value" value="8">
              <label for="health-{{actor._id}}-col5-8"></label>
              <input type="radio" id="health-{{actor._id}}-col5-9" name="data.health.column.five.value" value="9">
              <label for="health-{{actor._id}}-col5-9"></label>
              {{/multiboxes}}
              <span>{{data.health.column.five.max}}</span>
            </div>
            <div class="health health3 flexrow">
              <span>6</span>
              {{#multiboxes data.health.column.six.value}}
              <label for="health-{{actor._id}}-col6-0" class="zero-label"></label>
              <input type="radio" id="health-{{actor._id}}-col6-0" name="data.health.column.six.value" value="0" checked="checked">
              <input type="radio" id="health-{{actor._id}}-col6-1" name="data.health.column.six.value" value="1">
              <label for="health-{{actor._id}}-col6-1"></label>
              <input type="radio" id="health-{{actor._id}}-col6-2" name="data.health.column.six.value" value="2">
              <label for="health-{{actor._id}}-col6-2"></label>
              <input type="radio" id="health-{{actor._id}}-col6-3" name="data.health.column.six.value" value="3">
              <label for="health-{{actor._id}}-col6-3"></label>
              <input type="radio" id="health-{{actor._id}}-col6-4" name="data.health.column.six.value" value="4">
              <label for="health-{{actor._id}}-col6-4"></label>
              <input type="radio" id="health-{{actor._id}}-col6-5" name="data.health.column.six.value" value="5">
              <label for="health-{{actor._id}}-col6-5"></label>
              <input type="radio" id="health-{{actor._id}}-col6-6" name="data.health.column.six.value" value="6">
              <label for="health-{{actor._id}}-col6-6"></label>
              <input type="radio" id="health-{{actor._id}}-col6-7" name="data.health.column.six.value" value="7">
              <label for="health-{{actor._id}}-col6-7"></label>
              <input type="radio" id="health-{{actor._id}}-col6-8" name="data.health.column.six.value" value="8">
              <label for="health-{{actor._id}}-col6-8"></label>
              <input type="radio" id="health-{{actor._id}}-col6-9" name="data.health.column.six.value" value="9">
              <label for="health-{{actor._id}}-col6-9"></label>
              {{/multiboxes}}
              <span>{{data.health.column.six.max}}</span>
            </div>
            <span>Power Field / Armor</span>
            <div class="health flexrow">
              {{#multiboxes data.health.bonus.value}}
              <label for="health-{{actor._id}}-bonus-0" class="zero-label"></label>
              <input type="radio" id="health-{{actor._id}}-bonus-0" name="data.health.bonus.value" value="0" checked="checked">
              <input type="radio" id="health-{{actor._id}}-bonus-1" name="data.health.bonus.value" value="1">
              <label for="health-{{actor._id}}-bonus-1"></label>
              <input type="radio" id="health-{{actor._id}}-bonus-2" name="data.health.bonus.value" value="2">
              <label for="health-{{actor._id}}-bonus-2"></label>
              <input type="radio" id="health-{{actor._id}}-bonus-3" name="data.health.bonus.value" value="3">
              <label for="health-{{actor._id}}-bonus-3"></label>
              <input type="radio" id="health-{{actor._id}}-bonus-4" name="data.health.bonus.value" value="4">
              <label for="health-{{actor._id}}-bonus-4"></label>
              <input type="radio" id="health-{{actor._id}}-bonus-5" name="data.health.bonus.value" value="5">
              <label for="health-{{actor._id}}-bonus-5"></label>
              <input type="radio" id="health-{{actor._id}}-bonus-6" name="data.health.bonus.value" value="6">
              <label for="health-{{actor._id}}-bonus-6"></label>
              <input type="radio" id="health-{{actor._id}}-bonus-7" name="data.health.bonus.value" value="7">
              <label for="health-{{actor._id}}-bonus-7"></label>
              <input type="radio" id="health-{{actor._id}}-bonus-8" name="data.health.bonus.value" value="8">
              <label for="health-{{actor._id}}-bonus-8"></label>
              <input type="radio" id="health-{{actor._id}}-bonus-9" name="data.health.bonus.value" value="9">
              <label for="health-{{actor._id}}-bonus-9"></label>
              {{/multiboxes}}
              <span>{{data.health.bonus.max}}</span>
            </div>
          </div>
            <ul class="stats flexcol" style="height: 50%">
              {{#each data.stats.primary as |primary key|}}
                <li class="ability flexrow flex-group-left" style="margin-bottom: 40px; height: 60px;">
                  <label for="data.stats.primary.{{key}}.value" class="resource-label">{{key}}</label>
                  <input type="text" name="data.stats.primary.{{key}}.value" value="{{primary.value}}" data-dtype="Number"/>
                  <!-- <span class="ability-mod rollable" data-roll="2d6+@stat.{{key}}.value" data-label="{{key}}">{{numberFormat ability.mod decimals=0 sign=true}}</span> -->
                </li>
              {{/each}}
              </ul>
            <ul class="stats flexcol" style="height: 50%;">
              {{#each data.stats.secondary as |secondary key|}}
                <li class="ability flexrow flex-group-left">
                  <label for="data.stats.secondary.{{key}}.value" class="resource-label">{{key}}</label>
                  <input type="text" name="data.stats.secondary.{{key}}.value" value="{{secondary.value}}" data-dtype="Number"/>
                  <!-- <span class="ability-mod rollable" data-roll="2d6+@stat.{{key}}.value" data-label="{{key}}">{{numberFormat ability.mod decimals=0 sign=true}}</span> -->
                </li>
              {{/each}}
            </ul>
            <div style="height: 50%;">
              <div class="resource flex-group-center">
                <label for="data.stats.modifiers.def" class="resource-label">DEF Modifiers</label>
                <ul class="resource-content flexcol flex-center flex-between">
                  <li class="ability flexrow">
                    <label for="data.stats.modifiers.def.racial.value">Racial: </label>
                    <input type="text" name="data.stats.modifiers.def.racial.value" value="{{data.stats.modifiers.def.racial.value}}" data-dtype="Number"/>
                  </li>
                  <li class="ability flexrow">
                    <label for="data.stats.modifiers.def.equipment.value">Equipment: </label>
                    <input type="text" name="data.stats.modifiers.def.equipment.value" value="{{data.stats.modifiers.def.equipment.value}}" data-dtype="Number"/>
                  </li>
                </ul>
              </div>
              <div class="resource flex-group-center">
                <label for="data.stats.modifiers.arm" class="resource-label">ARM Modifiers</label>
                <ul class="resource-content flexcol flex-center flex-between">
                  <li class="ability flexrow">
                    <label for="data.stats.modifiers.arm.shield.value">Shield: </label>
                    <input type="text" name="data.stats.modifiers.arm.shield.value" value="{{data.stats.modifiers.arm.shield.value}}" data-dtype="Number"/>
                  </li>
                  <li class="ability flexrow">
                    <label for="data.stats.modifiers.arm.armor.value">Armor: </label>
                    <input type="text" name="data.stats.modifiers.arm.armor.value" value="{{data.stats.modifiers.arm.armor.value}}" data-dtype="Number"/>
                  </li>
                  <li class="ability flexrow">
                    <label for="data.stats.modifiers.arm.other.value">Other: </label>
                    <input type="text" name="data.stats.modifiers.arm.other.value" value="{{data.stats.modifiers.arm.other.value}}" data-dtype="Number"/>
                  </li>
                  <li class="ability flexrow">
                    <label for="data.health.bonus.max">Boxes:</label>
                    <input type="number" name="data.health.bonus.max" value="{{data.health.bonus.max}}" data-dtype="Number"/>
                  </li>
                </div>
              <div class="resource flex-group-center">
                <label for="data.stats.modifiers.arm" class="resource-label">Init Modifiers</label>
                <ul class="resource-content flexcol flex-center flex-between">
                  <li class="ability flexrow">
                    <label for="data.stats.modifiers.init.equipment.value">Equipment: </label>
                    <input type="text" name="data.stats.modifiers.init.equipment.value" value="{{data.stats.modifiers.init.equipment.value}}" data-dtype="Number"/>
                  </li>
                  <li class="ability flexrow">
                    <label for="data.stats.modifiers.init.additional.value">Additional: </label>
                    <input type="text" name="data.stats.modifiers.init.additional.value" value="{{data.stats.modifiers.init.additional.value}}" data-dtype="Number"/>
                  </li>
                </div>
              <div class="resource flex-group-center">
                <label for="data.stats.modifiers.arm" class="resource-label">CMD Modifiers</label>
                <ul class="resource-content flexcol flex-center flex-between">
                  <li class="ability flexrow">
                    <label for="data.stats.modifiers.cmd.skill.value">Skill: </label>
                    <input type="text" name="data.stats.modifiers.cmd.skill.value" value="{{data.stats.modifiers.cmd.skill.value}}" data-dtype="Number"/>
                  </li>
                  <li class="ability flexrow">
                    <label for="data.stats.modifiers.cmd.ability.value">Abilities: </label>
                    <input type="text" name="data.stats.modifiers.cmd.ability.value" value="{{data.stats.modifiers.cmd.ability.value}}" data-dtype="Number"/>
                  </li>
                </div>
              </div>
            </div>
            
        </div>
    </section>
</form>

