<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="grid grid-2col">
              <div class="resource">
                <label class="resource-label">Quantity</label>
                  <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                <label class="resource-label">Weight</label>
                  <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number"/>
              </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">Attributes</a>
        {{#if data.mechanika}}
        <a class="item" data-tab="mechanika">Mechanika</a>
        {{/if}}
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="grid grid-3col">
                <div class="resource">
                    <label class="resource-label">Spd Modifier</label>
                    <input type="text" name="data.spd.value" value="{{data.spd.value}}" data-type="Number"/>
                </div>
                <div class="resource">
                    <label class="resource-label">DEF Modifier</label>
                    <input type="text" name="data.def.value" value="{{data.def.value}}" data-type="Number"/>
                </div>
                <div class="resource">
                    <label class="resource-label">ARM Modifier</label>
                    <input type="text" name="data.arm.value" value="{{data.arm.value}}" data-type="Number"/>
                </div>
                <div class="ability flexrow flex-group-center">
                    <label for="data.health.column.one" class="resource-label">Boxes</label>
                    <input type="number" name="data.boxes.value" value="{{data.boxes.value}}" data-dtype="Number"/> 
                    <span>/</span> 
                    <input type="number" name="data.boxes.max" value="{{data.boxes.max}}" data-dtype="Number"/> 
                </div>
                <div class="resource">
                    <label class="resource-label">Equipped</label>
                    <input type="checkbox" name="data.equipped.value" value="{{data.equipped.value}}" {{checked data.equipped.value}}/>
                </div>
                <div class="resource">
                    <label class="resource-label">Mechanika</label>
                    <input type="checkbox" name="data.mechanika" value="{{data.mechanika}}" {{checked data.mechanika}}/>
                </div>
            </div>
        </div>

        {{!-- Mechanika Tab --}}
        <div class="tab mechanika" data-group="primary" data-tab="mechanika">
            <div class="grid grid-3col">
                <label class="resource-label flexrow">Power</label>
                <label class="resource-label flexrow">Runeplate ({{data.equippedRunes.totalPoints}}/{{data.powerSource.powerOutput}})</label><span></span>
                <div class="resource">
                    <div class="resource flexcol">
                        <label>Source</label>
                        <select class="selectMech" name="data.powerSource.value" data-type="String">
                            {{#select data.powerSource.value}}
    
                            {{#each data.powerSources as |source key|}}
    
                            <option value="{{key}}">{{source.label}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                        <!-- <label>Cost: {{data.powerSource.cost}}</label> -->
                        <label>Output: {{data.powerSource.powerOutput}}</label>
                        <label>Lifespan: {{data.powerSource.lifespan}}</label>
                    </div>
                </div>
                
               
                <div class="resource flexcol">
                    <div class="resource flexrow">
                        <select class="selectMech" name="data.equippedRunes.rune0.value" data-type="String">
                            {{#select data.equippedRunes.rune0.value}}
    
                            {{#each data.runes as |rune key|}}
                            <option value="{{key}}">{{rune.label}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    <div class="resource flexrow">
                        <select class="selectMech" name="data.equippedRunes.rune1.value" data-type="String">
                            {{#select data.equippedRunes.rune1.value}}
    
                            {{#each data.runes as |rune key|}}
                            <option value="{{key}}">{{rune.label}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    <div class="resource flexrow">
                        <select class="selectMech" name="data.equippedRunes.rune2.value" data-type="String">
                            {{#select data.equippedRunes.rune2.value}}
    
                            {{#each data.runes as |rune key|}}
                            <option value="{{key}}">{{rune.label}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    <div class="resource flexrow">
                        <select class="selectMech" name="data.equippedRunes.rune3.value" data-type="String">
                            {{#select data.equippedRunes.rune3.value}}
    
                            {{#each data.runes as |rune key|}}
                            <option value="{{key}}">{{rune.label}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                    <div class="resource flexrow">
                        <select class="selectMech" name="data.equippedRunes.rune4.value" data-type="String">
                            {{#select data.equippedRunes.rune4.value}}
    
                            {{#each data.runes as |rune key|}}
                            <option value="{{key}}">{{rune.label}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </div>
                </div>
               
                <div class="resource flexcol">
                    <label>Type: {{data.equippedRunes.rune0.type}}</label>
                    <label>Cost: {{data.equippedRunes.rune0.cost}}gc</label>
                    <label>Rune Points: {{data.equippedRunes.rune0.points}}</label>

                    <label>Type: {{data.equippedRunes.rune1.type}}</label>
                    <label>Cost: {{data.equippedRunes.rune1.cost}}gc</label>
                    <label>Rune Points: {{data.equippedRunes.rune1.points}}</label>

                    <label>Type: {{data.equippedRunes.rune2.type}}</label>
                    <label>Cost: {{data.equippedRunes.rune2.cost}}gc</label>
                    <label>Rune Points: {{data.equippedRunes.rune2.points}}</label>

                    <label>Type: {{data.equippedRunes.rune3.type}}</label>
                    <label>Cost: {{data.equippedRunes.rune3.cost}}gc</label>
                    <label>Rune Points: {{data.equippedRunes.rune3.points}}</label>

                    <label>Type: {{data.equippedRunes.rune4.type}}</label>
                    <label>Cost: {{data.equippedRunes.rune4.cost}}gc</label>
                    <label>Rune Points: {{data.equippedRunes.rune4.points}}</label>
                </div>
            </div>
        </div>
    </section>
</form>
